# App
PORT=3001

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=db_name

MONGO_USER=user
MONGO_PASSWORD=password

MONGO_URI=mongodb://localhost:27017/...

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# LLM
ANTHROPIC_API_KEY=your_api_key_here

# Connection to NestJS for AI tools
NESTJS_URL=http://localhost:3000/api